body {
	background: black url("../images/starwars_background.jpg") no-repeat center top;
}

.btn:focus,.btn:active {
   outline: none !important;
}

.top-margin {
	margin-top: 30px;
}

.bottom-margin {
	margin-bottom: 30px;
}

.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

#restart {
	visibility: hidden;